.filemgr .item-info {
	height: auto;
	overflow: hidden;
	zoom: 1;
}

.filemgr .upload-item .tip {
	float: left;
	width: 30%;
}

.filemgr .upload-item .filename {
	float: left;
	width: 35%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px
}

.filemgr .upload-item .filesize {
	float: left;
	width: 15%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.filemgr .upload-item .percent {
	float: right;
	max-width: 10%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.filemgr .upload-page {
	width: 640px;
	height: 95%;
	padding: 0 10px;
}

#file-list, #finished-list {
	display: block;
	height: 260px;
	overflow: scroll;
	width: 100%;
}

#file-list tr, #finished-list tr {
	height: auto;
}

.filemgr  .tablebody {
	width: 100%;
	margin-top: -11px;
}

.filemgr  .btn-menus {
	float: right;
}